// Colors
$app_blue: #0046AD;
$app_grey: #787878;
$app_grey_light: #E6E7E8;
$app_yellow: #FCAF17;
$app_magenta: #00A8A5;
$app_purple: #642D91;


// Icon variables

$icon-arrow-right: "\e612";
$icon-trending_neutral: "\e2f6";
$icon-warning: "\e600";
$icon-chevron-down: "\e601";
$icon-chevron-left: "\e602";
$icon-chevron-right: "\e603";
$icon-chevron-up: "\e604";
$icon-chevron-with-circle-down: "\e605";
$icon-chevron-with-circle-left: "\e606";
$icon-chevron-with-circle-right: "\e607";
$icon-chevron-with-circle-up: "\e608";
$icon-download: "\e609";
$icon-upload: "\e611";
$icon-attachment: "\e60a";
$icon-check: "\e60b";
$icon-clipboard: "\e60c";
$icon-folder: "\e60d";
$icon-plus: "\e60e";
$icon-squared-minus: "\e60f";
$icon-squared-plus: "\e610";

