@import "fonts.scss";
@import "variables";

body.ggmfg {
  margin: 0;
  padding: 0;
  background: $app_grey_light;

}

#ggmfg {
    font-family: 'HelveticaNeueW01-45Ligh',sans-serif;
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    @import "_bootstrap";
    @import "flexbox.scss";
    @import "transition.scss";
    @import "opacity.scss";
    @import "font-size.scss";
    @import "border-radius.scss";
    @import "app.scss";
}